<div class="snh-foot">
    <div class="container">
        <p>
            Copyleft &copy; 2019-2020
            by <a href="https://github.com/FoXZilla" target="_blank" class="icp-link">FoXZilla</a>
        </p>
        <p>
            Edit <a href="https://github.com/FoXZilla/short-night-homepage-2" target="_blank" class="icp-link">this page</a> on Github. View the <a href="https://github.com/FoXZilla/short-night" target="_blank" class="icp-link">Short-Night source code</a>.
        </p>
    </div>
</div>

<script src="https://point.pea3nut.org/sdk/1.0/browser.js"></script>
<script>
    (function () {
        const uidKey = 'snh_uid';
        let uid = localStorage.getItem(uidKey);
        if (!uid) {
            uid = Number(Math.random().toString().split('.')[1]).toString(36);
            localStorage.setItem(uidKey, uid);
        }

        const eventSender = new EventSender('https://point.pea3nut.org/events', {
            uid,
            app_name: 'short-night-homepage',
            get referer() { return location.href; },
        });
        eventSender.setContent({
            lang: document.documentElement.lang,
        });
        eventSender.send('pv');
    })();
</script>
