<nav class="navbar navbar-expand-lg navbar-dark bg-dark snh-nav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/foxzilla.png" width="30" height="30" alt="foxzilla">
        </a>
        <a class="navbar-brand" href="/">Short Night</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><%= t('nav.home') %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/FoXZilla/short-night/wiki" target='_blank'><%= t('nav.usingEngine') %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/example" target='_blank'><%= t('nav.examples') %></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link national-flag-link" href="#" id="nationalFlagDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/images/national-flag/circle/CH@2x.png" alt="china" style="z-index: 600" />
                        <img src="/images/national-flag/circle/UK@2x.png" alt="english" style="z-index: 500" />
                    </a>
                    <div class="dropdown-menu national-flag-menu" aria-labelledby="nationalFlagDropdownMenuLink">
                        <a class="dropdown-item" href="?lang=zh"><img src="/images/national-flag/rec/CH@2x.png" />简体中文</a>
                        <a class="dropdown-item" href="?lang=en"><img src="/images/national-flag/rec/UK@2x.png" />English</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>